@import "custom";

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Work Sans", sans-serif;
}

.h1,
h1 {
  font-size: 43px;
}
.h2,
h2 {
  font-size: 32px;
}
.h3,
h3 {
  font-size: 26px;
}
.h4,
h4 {
  font-size: 22px;
}
.h5,
h5 {
  font-size: 18px;
}
.h6,
h6 {
  font-size: 14px;
}
p,
span {
  font-size: 15px;
}

h6.strike {
  text-decoration: line-through;
  font-weight: 400;
}

ul.column {
  column-count: 2;
  -webkit-columns: 2;
  -moz-columns: 2;
}

.card.pricing {
  border-top: 7px solid;
  box-shadow: 1px 15px 100px rgba(0, 0, 0, 0.08);
  border-radius: 15px;
  border-left: none;
  border-right: none;
  border-bottom: none;
  & .badge {
    background: linear-gradient(90.92deg, #bb08a9 -15.21%, #0f3feb 136.22%);
    border-radius: 7px;
    float: right;
  }
  & .card-footer {
    background-color: #fff;
    border-top: none;
    border-radius: 15px;
    margin-bottom: 1rem;
    text-align: center;
  }
}

.card.payment {
  border: 0.5px solid;
  box-shadow: -3px 4px 25px rgba(0, 0, 0, 0.12);
  border-radius: 16px;
}

.bg-header {
  background: url("../public/bg-header.jpg");
  background-position: right center;
  background-size: cover;
  background-repeat: no-repeat;
}

.py-10 {
  padding: 5rem 0 10rem 0;
}

.hanging-cards {
  margin-top: -8rem;
  & .card {
    border: none;
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.1);
    border-radius: 16px;
  }
}

.bt-start {
  border-left: 5px solid;
}

.custom-tabs {
  border-bottom: 1px solid rgb(213, 213, 213);
  color: rgb(60, 60, 60);
  &.active {
    border-bottom: 4px solid $primary;
    font-weight: 600;
    color: $primary;
  }
}

.rci {
  margin-top: -2px;
}

.card.learning {
  background: #fefefe;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  box-shadow: 1px 4px 46px -4px rgba(55, 55, 55, 0.08);
  border-radius: 12px;
}

.card.alumnus {
  background: #f8f8f8;
  border: 1px solid #dfdfdf;
  border-radius: 15px;
  height: 100%;
}

.fw-semi-bold {
  font-weight: 500;
}
